<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include menuLayout%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3>User : birth fanmanupanx</h3>
    
  </body>
</html>
